.grid {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 100vh 140vh 70vh 35vh;
    grid-template-areas: 
        "header header header"
        "primary primary primary"
        "secondary secondary secondary"
        "footer footer footer"
}

.main-header {
    grid-area: header;
}

.primary-content {
    grid-area: primary;
    background-color: white;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: 
        "intro"
        "section" ;
}

.intro-primary {
    grid-area: intro;
    padding: 2em 0 0 0;
    font-size: 1.6vw;
    margin-left: 2em;
    margin-right: 2em;
}

.wildlife {
    grid-area: section;
    margin: 2em;
    padding: 0;
}

.images {
    margin-top: 1.4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 330px;
    grid-gap: 0.6em;
    grid-template-areas:
        "pic1 pic2 pic3";

    .img {
        height: 80%;
        max-width: 100%;
        width: 100%;
    } 
    .pic1 {
        grid-area: pic1;
    }
    .pic2 {
        grid-area: pic2;
    }
    .pic3 {
        grid-area: pic3;
    }   
}

.secondary-content {
    grid-area: secondary;
    margin: 2em;

    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 55vh;
    grid-template-areas: 
        "article1 blank article2"
}

.resorts,
.tips {
    background-color: beige;
    padding: 1.6em;
    border-top: burlywood solid 4px;
}

.resorts {
    grid-area: article1;
}

.tips {
    grid-area: article2;
}

.main-footer {
    grid-area: footer;
}

